{% extends "base.html.twig" %}
{% block body %}

    {# {% import "macro/form.html.twig" as form %}#}

    <div class="container mt-5">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}


        <div class="mt-5 d-flex row">

        </div>
        <div>
            <div class="m-5 p-3 text-justify">


            </div>

        </div>


        <div class="col-md-12 ">
            {{ form_start((form)) }}
            {% for user in users %}
                {{ user.login }}
                {{ form_row(form.users[loop.index0].isActivate) }}
                {{ form_row(form.users[loop.index0].role) }}
            {% endfor %}
            <div class=" d-flex flex-row-reverse mt-4">
                <button class="btn btn-primary mx-3">Sauvegarder</button>

                {{ form_end(form) }}

            </div>
        </div>

    </div>


{% endblock %}