{% extends "base.html.twig" %}
{% block body %}

    {# {% import "macro/form.html.twig" as form %}#}

    <div class="container mt-5">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}


        <div class="mt-5 d-flex row">

        </div>
        <div>
            <div class="m-5 p-3 text-justify">

            </div>

        </div>
        <div class="col-md-12 ">

            {% for user in users %}
                {{ user.login }}

                 <form method="post"  action="{{ path('user_admin_2', {'id':  user.id }) }}">
                     <label for="admin_isActivate_{{ user.id }}">Utilisateur actif ?</label>
                    <input type="checkbox" class="form-check-input" id="admin_isActivate_{{ user.id }}" name="admin2[isActivate]" value="1" {% if user.isActivate == true %}checked {% endif %}>
                     <label for="admin_isActivate" class="form-check-label">Oui</label>


                     <label for="admin_roles_{{ user.id }}"> Role de l'utilisateur :</label>
                     <select name="admin2[roles]" id="admin_roles_{{ user.id }}" class="form-control">
                         {% for key, value in roles %}
                             <option value={{ value }} {% if user.roles[0] == value %} selected {% endif %} > {{ key }}</option>
                         {% endfor %}
                     </select>
                        {# <option value={{ roles["User"] }} {% if user.roles[0] == "ROLE_USER" %}selected {% endif %}>Utilisateur</option>
                         <option  name= "Editor" value="{{roles["Editor"]}}" {% if user.roles[0] == "ROLE_EDITOR" %}selected {% endif %}>Editeur</option>
                         <option value="ROLE_ADMIN"{% if user.roles[0] == "ROLE_ADMIN" %}selected {% endif %}>Administrateur</option>#}{#
                     </select>#}

                    <input type="hidden" name="admin2[_token]" value="{{ csrf_token('update_admin') }}">
                     <button class="btn btn-primary mx-3" type="submit">Sauvegarder</button>
                     <button class="btn btn-danger" data-toggle="modal" data-target="#confirmDelete" data-backdrop="static">Supprimer</button>
                 </form>
            {% endfor %}




            </div>




        </div>



{% endblock %}