<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Thomas">

    <title>{% block title %}SnowTricks {% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}

    {% endblock %}

</head>
    <body>
        <div class="d-none d-md-block">
            <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom shadow-sm">
                <h5 class="my-0 mr-md-auto font-weight-normal">SnowTrick</h5>
                <nav class="my-2 my-md-0 mr-md-3">
                    <a class="p-2 text-dark mr-2" href="{{ path('home') }}">Accueil</a>
                    <a class="p-2 text-dark mr-2" href="/#tricks">Les tricks</a>
                    {% if is_granted ('ROLE_USER') %}
                        <a class="btn btn-outline-primary mr-2" href="{{ path('user_update') }}">Mon espace</a>
                        <a class="btn btn-outline-primary" href="{{ path('app_logout') }}">Se déconnecter</a>
                    {% else %}
                        <a class="btn btn-outline-primary mr-2" href="{{ path('app_login') }}">S'identifier</a>
                        <a class="btn btn-outline-primary" href="{{ path('user_new') }}">Créer un compte</a>
                    {% endif %}
                    {% if is_granted ('ROLE_ADMIN') %}
                        <a class="btn btn-outline-primary mr-2 ml-5" href="{{ path('user_admin') }}">Espace admin</a>
                    {% endif %}
                </nav>
            </div>
        </div>


{% block body %} {% endblock %}
<div class="d-md-none  mt-5">
    <div class="container">
        <div class="border-top">
        </div>
    </div>
    <div class=" p-3 px-md-4 bg-white  shadow-sm">

        <nav class="my-2 my-md-0 mr-md-3 d-flex d-flex justify-content-around home-icons">
            <a href="{{ path('home') }}">
                <i class="material-icons">house</i>
            </a>
            <a href="/#tricks">
                <i class="material-icons">
                    photo_library
                </i>
            </a>
            {% if is_granted('ROLE_EDITOR') %}
                <a href="{{ path('app_logout') }}">
                    <i class="material-icons">
                        exit_to_app
                    </i>
                </a>
            {% else %}
                <a href="{{ path('app_login') }}">
                    <i class="material-icons">
                        how_to_reg
                    </i>
                </a>
            {% endif %}
        </nav>
    </div>
</div>


<div class="container d-none d-md-block">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">

                <small class="d-block mb-3 text-muted">&copy; 2019</small>
            </div>
            <div class="col-6 col-md">
                <p>Mentions légales</p>

            </div>
            <div class="col-6 col-md">
                <p>Politique de confidentialité</p>

            </div>

        </div>
    </footer>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}

{% endblock %}
</body>
</html>
