{% extends "base.html.twig" %}
{% block body %}

    {# {% import "macro/form.html.twig" as form %}#}
    {% set picturePath = "" %}
    <div class="container mt-5">
        {% include 'template/_message_flash.html.twig' %}
        <div class="trick-image">

            {% for picture in trick.pictures %}
                {% if picture.selectedPicture %}
                    {% set picturePath = picture.filename %}
                {% endif %}
            {% endfor %}
            {% if picturePath == "" %}
                {% set picturePath = trick.pictures.0.filename %}
            {% endif %}

            <img src="{{ asset( uploaded_asset(picturePath ) ) }}" alt="background image" width="100%" height="100%">

                <h1>{{ trick.title }}
                </h1>

            </div>

            <div class="mt-5 d-flex row">
                {% for picture in trick.getPictures %}
                <div class="mr-3">
                    <div>
                        <img src="{{ asset(uploaded_thumbnail_asset(picture.filename)) }}" height="100" alt="">
                    </div>

                    {% if is_granted('ROLE_EDITOR') %}
                    <div class="row d-flex justify-content-end px-4 mt-2">
                        <div>
                            <input type="hidden" value="{{ csrf_token('edit'~ picture.id) }}">
                            {# <a href="#editPicture{{ loop.index }}" data-toggle="modal" data-url="{{ path('picture_edit', {'id':  picture.id }) }}" class="thumbnails">#}
                            <a href="#editPicture" data-toggle="modal"
                                data-url="{{ path('picture_edit', {'id':  picture.id }) }}" class="thumbnails">
                                <i class="material-icons thumbnails-modal">edit</i>
                            </a>
                        </div>

                        <div class="pl-3">
                            <input type="hidden" value="{{ csrf_token('delete'~ picture.id) }}">
                            <a href="#confirmDelete" data-toggle="modal"
                                data-url="{{ path('picture_delete', {'id': picture.id}) }}">
                                <i class="material-icons trick-delete-modal">delete
                                </i>
                            </a>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>

            <div>
                <div class="m-5 p-3 text-justify">
                </div>
            </div>
            <div class="col-md-12 trickEdit">
                {{ form_start((form)) }}
                    <div class="text col-md-12">
                        {{ form_row(form.filePicture) }}
                    </div>
                    <div class="col-md-6  mb-5">
                        {{ form_row(form.title, {'value':trick.title}) }}
                    </div>
                    <div class="text col-md-12">
                        {{ form_row(form.description, {'value':trick.description}) }}
                    </div>
                    <div hidden>
                        {{ form_rest(form) }}
                    </div>
                    <div class=" d-flex flex-row-reverse mt-4">
                        <button class="btn btn-primary mx-3">Sauvegarder</button>
                {{ form_end(form) }}
    {# <form method="post"  >
    #}{#<input type="hidden" name="_method" value="DELETE">#}{#
    #}{# <input type="hidden" name="_token" value="{{ csrf_token('delete'~ trick.id) }}">#}{#

    <button class="btn btn-danger" data-toggle="modal" data-target="#confirmDelete" data-backdrop="static">Supprimer</button>
    </form>#}

                <div class="">
                    <a href="#confirmDelete" data-toggle="modal"
                                  data-url="{{ path('trick_delete', {'id': trick.id}) }}">
                    <input type="hidden" value="{{ csrf_token('delete'~ trick.id) }}">
                        <div class="btn btn-danger trick-delete-modal">Supprimer</div>

                    </a>
                </div>
            </div>
        </div>

    </div>

{% include "/template/modal_confirm_close.html.twig" %}
{% include "/template/modal_edit_picture.html.twig" %}
{% block javascripts %}
    {{ encore_entry_script_tags('editTrick') }}
    {{ parent() }}
{% endblock %}

{% endblock %}