{% extends "base.html.twig" %}
{% block body %}

    <header class="background" id="up">
        <div class="box-background">
            {#  <img src="images\background_image.jpg">#}
            <div class="container">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}">
                            {{ message | trans }}
                        </div>
                    {% endfor %}
                {% endfor %}

                <div class="intro-text">
                    <h2 class="intro-heading text-uppercase h1">SnowTricks</h2>
                    <h1 class="intro-paragraph">Le site de la communauté de snowboard freestyle!!!</h1>
                </div>
                <div class="nav-arrows">
                    <a href="#tricks" id="arrow-down">
                        <i class="material-icons down-arrow">
                            arrow_downward
                        </i>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <div class="nav-arrows">
        <a href="#up">
            <i class="material-icons up-arrow">
                arrow_upward
            </i>
        </a>
    </div>
    <div class="container-tricks" id="tricks">
        <div class="card-block  col-lg-12 d-lg-flex ">
            {% for key,trick in tricks %}
            {% if key % 5 == 0 and key != 0 %}
        </div>
        <div class="card-block col-lg-12 d-lg-flex mt-5">
            {% endif %}

            <div class="card-body  col-md d-flex flex-column mt-4 mr-2">
                <div class="card ">
                    <div class="mb-3 card-img-top d-flex justify-content-center">
                        <a href="{{ path('trick_show', {'id': trick.id}) }}">
                            {% if trick.PicturesPath != null %}
                                <img alt="" class="article-img"
                                     src="{{ asset(uploaded_thumbnail_asset(trick.getPictures().0.filename)) }}"
                                     width="150" height="">
                            {% else %}
                                <img src="{{ asset('images/background_image.jpg') }}" height="" width="150"
                                     alt="background-image">
                            {% endif %}

                        </a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body d-flex justify-content-around">
                        <a href="{{ path('trick_show', {'id':  trick.id }) }}">{{ trick.title }}</a>
                        {% if is_granted('ROLE_USER') %}
                            <a href="{{ path('trick_edit', {'id':  trick.id }) }}"><i
                                        class="material-icons ">edit</i></a>
                            <div class="">
                                <input type="hidden" value="{{ csrf_token('delete'~ trick.id) }}">
                                <a href="#confirmDelete" data-toggle="modal"
                                   data-url="{{ path('trick_delete', {'id': trick.id}) }}">
                                    <i class="material-icons trick-delete-modal">delete</i>
                                </a>
                            </div>
                        {% endif %}
                    </div>

                </div>

            </div>

            {% endfor %}
        </div>

        {% include "/template/modal_confirm_close.html.twig" %}
    </div>


{% endblock %}