{% extends "base.html.twig" %}
{% block body %}
    {% set picturePath = "" %}
    <div class="container mt-5">

        <div class="trick-image">
            {% for picture in trick.pictures %}
                {% if picture.selectedPicture %}
                    {% set picturePath = picture.filename %}
                {% endif %}
            {% endfor %}
            {% if picturePath == "" %}
                {% set picturePath = trick.pictures.0.filename %}
            {% endif %}

            <img class="" src="{{ asset( uploaded_asset(picturePath ) ) }}" alt="background image" width="100%"
                 height="100%">
            <div class="text-center">
                <h1>{{ trick.title }}</h1>
            </div>


            {% if is_granted('ROLE_EDITOR') %}
                <div class="block-editDelete border">
                    <div class="p-1 d-flex justify-content-center">
                        <div class="pr-2">
                            <a href="{{ path('trick_edit', {'id':  trick.id }) }}"><i
                                        class="material-icons ">edit</i></a>
                        </div>
                        <div class="">
                            <input type="hidden" value="{{ csrf_token('delete'~ trick.id) }}">
                            <a href="#confirmDelete" data-toggle="modal"
                               data-url="{{ path('trick_delete', {'id': trick.id}) }}">
                                <i class="material-icons trick-delete-modal">delete</i>
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        {% if is_granted('ROLE_EDITOR') %}
            <div class="text-right my-5">
                <a class="btn btn-primary" href="{{ path('trick_new') }}">
                    Créer un nouveau trick !!
                </a>
            </div>
        {% endif %}

        <nav class="navbar navbar-light navbar-expand-lg d-flex justify-content-center">
            <div class="">
                <button class="d-lg-none navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#display_medias" aria-controls="display_medias"
                        aria-expanded="false" aria-label="Toggle navigation">
                    Voir les médias
                    <span class="dark-blue-text">
                    <i class="fas fa-bars fa-1x"></i>
                </span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="display_medias">
                <ul class="navbar-nav mr-auto">
                    {% for picture in trick.getPictures %}
                    <li class="nav-item p-2">
                        <img src="{{ asset(uploaded_thumbnail_asset(picture.filename)) }}" height="150" width="200"
                             alt="Image de {{ trick.title }}">
                    </li>
                    {% endfor %}
                    {% for video in trick.getVideos %}
                    <li class="nav-item p-2">
                        <iframe frameborder="0" width="200" height="150" src="{{ video.name }}" allowfullscreen
                                type="text/html" allow="autoplay encrypted-media; gyroscope; picture-in-picture"></iframe>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>

        <div>
            <div class="m-5 p-3 text-justify">
                {{ trick.description }}
            </div>
        </div>
        <div class="row d-flex justify-content-around ">
            <div class="border pt-2 px-3 m-1">
                <p>Date de création :
                    {{ trick.dateCreation|date('d-m-Y') }}
                </p>
            </div>
            <div class="border pt-2 px-3 m-1">
                <p>Groupe :
                    {{ trick.trickGroup.name }}
                </p>
            </div>
            <div class="border pt-2 px-3 m-1">
                <p>Date de modification :
                    {{ trick.dateUpdate|date('d-m-Y') }}
                </p>
            </div>
        </div>

    </div>
    {#border#}
    <div class="col-md-12 d-flex flex-row justify-content-center">
        <div class="col-md-8 my-4 mt-5 pb-2 border-top">
        </div>
    </div>

    {% if (is_granted('ROLE_EDITOR')) %}
        <div class="row justify-content-center col-md-12 ">
            <div class="col-md-4 text-center">
                {{ form_start(form, {'action': path('comment_create', {'id':trick.id})}) }}
                {{ form_row(form.content) }}
                {{ form_rest(form) }}
            </div>
            <div class="col-md-3 text-center">
                <button class="btn btn-primary">Valider le commentaire</button>
            </div>
            {{ form_end(form) }}
        </div>
    {% else %}
        <div class="row justify-content-center">
            <div class="col-md-4 text-center">
                <h3>Désolé, Vous devez être connecté pour pouvoir laisser un commentaire !!</h3>
            </div>
        </div>
    {% endif %}

    {#border#}
    <div class="col-md-12 d-flex flex-row justify-content-center">
        <div class="col-md-8 my-4 pt-2 pb-2 border-bottom">
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <h4>Les commentaires</h4>
    </div>

    <div class="col-md d-flex justify-content-center">

        <div class="d-flex flex-column col-md-8 mt-5">
            <div id="result">
                {% include "/comment/_show_comments.html.twig" %}
            </div>

                <div class=" d-flex justify-content-center mt-3 pt-3">
                    {% if comments is not empty %}
                    <div>
                        <button id="showMoreComments" class="btn btn-primary"
                                data-url="/trick/{{ trick.id }}/page_comment/">Voir plus de commentaires
                        </button>
                    </div>

                    <div id='waitButton' hidden>
                        <i class="material-icons">
                            loop
                        </i>
                    </div>
                {% else %}
                        <p>Il n'y a aucun commentaire pour le moment. </p>
            {% endif %}
                </div>
        </div>

    </div>
    {% include "/trick/_hide_loop.html.twig" %}
    {% include "/modal/_modal_confirm_close.html.twig" %}

{% endblock %}