{% extends "./base.html.twig" %}

    {% block title 'Se connecter' %}
    {% block body %}
        <div class="d-none d-md-block">
            <div class="d-flex justify-content-center mt-5 pt-3 ">
                <h1>Inscription</h1>
            </div>
        </div>

        <div class="container d-flex justify-content-center mt-5 pb-4  text-center">

            <div class="border px-5 py-5">

                <div class="d-md-none pb-5">
                    <h1>Inscription</h1>
                </div>
               {{ form_start(form) }}
                    <div class="form-group">
                        {{form_row(form.login)}}
                    </div>
                    <div class="form-group pb-4">
                       {{form_row(form.password)}}
                    </div>
                <div hidden>
                    {{ form_rest(form) }}
                </div>
                    <div class="d-none d-md-block mb-4 py-3">

                        <a href="">Déjà un compte ? </a>

                    </div>
                    <button type="submit" class="btn btn-primary">S'inscrire</button>
                {{form_end(form)}}
                <div class="d-md-none">
                    <div class="d-flex flex-column mt-5">
                        <a href="">Déja un compte ?  </a>

                    </div>
                </div>
            </div>

        </div>



    {% endblock %}