{% extends "base.html.twig" %}
{% block body %}

    <div class="container mt-5">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}


        <div class="mt-5 text-center">
            <h1>Mon espace perso</h1>
        </div>
   <div class="row mt-5">
       <div class="col-md-12 ">

           {{ form_start((form)) }}
           <div class="row d-flex justify-content-around">
               <div class="col-md-4  mb-5">
                   {{ form_row(form.login) }}
               </div>
               <div class="col-md-4  mb-5">
                   {{ form_row(form.emailUser) }}
               </div>
           </div>
            <div class="row d-flex justify-content-around">
                <div class="text col-md-4">
                    {{ form_row(form.currentPassword) }}
                </div>
                <div class="text col-md-4">
                    {{ form_row(form.password) }}
                </div>
            </div>

           <div class="row d-flex justify-content-around">
               <div class="text col-md-4">
                   <img src="{{asset(uploaded_user_asset(user.picture )) }}" alt="Image utilisateur"  height="100">
               </div>
               <div class="text col-md-4">
                   {{ form_row(form.picture) }}
               </div>
           </div>

           <div hidden>
               {{ form_rest(form) }}
           </div>
           <div class=" d-flex justify-content-center mt-4">
               <button class="btn btn-primary mx-3">Sauvegarder</button>
               {{ form_end(form) }}

           </div>
       </div>
   </div>


    </div>


{% endblock %}