{% extends "base.html.twig" %}
{% block body %}

    <div class="container mt-5">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}


        <div class="mt-5 d-flex row">

        </div>
        <div>
            <div class="m-5 p-3 text-justify">
            </div>

        </div>
        <div class="col-md-12 ">

            {{ form_start((form)) }}
            <div class="col-md-6  mb-5">

                {{ form_row(form.login,{"value": user.login}) }}
            </div>
            <div class="col-md-6  mb-5">

                {{ form_row(form.emailUser,{'value': user.email }) }}

            </div>
            <div >

            </div>
            <div class="text col-md-12">
                {{ form_row(form.currentPassword) }}
            </div>

            <div class="text col-md-12">

                {{ form_row(form.password) }}
            </div>
            <div class="text col-md-12">
                <img src="{{asset(uploaded_user_asset(user.picture )) }}" alt="Image utilisateur"  height="100">
            </div>
            <div class="text col-md-12">
                {{ form_row(form.picture) }}
            </div>
            <div hidden>
                {{ form_row(form.id, {'value': user.id}) }}
                {{ form_rest(form) }}
            </div>
            <div class=" d-flex flex-row-reverse mt-4">
                <button class="btn btn-primary mx-3">Sauvegarder</button>
                {{ form_end(form) }}

            </div>
        </div>

    </div>


{% endblock %}